
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  object-fit: cover;
  cursor: pointer;
}

.basicLightbox__placeholder {
    cursor: pointer;
}

.back{
  color: currentColor;
  text-decoration: none;
  display: flex;
  font-size: 24px;
  padding: 8px;
  border-radius: 16px;
  justify-content: center;
  color: black;
  transition: scale 300ms;
  position: absolute;
}

.back:hover{
  scale: 1.2;
  transition: scale 300ms;
}